@font-face {
    font-family: 'digital-7';
    src: url('digital-7.ttf');
}

td {
    padding: 4px;
    text-align: center;
    box-shadow: 5px 5px 2px grey;
}

tr:nth-child(even) {
    background-color: #e5eefdb4;
}

tr:nth-child(odd) {
    background-color: #ebebebb4;
}

.tempval {
    font-family: 'digital-7';
    font-size: 30px;
    width: 85px;
}

#temps {
    float: right;
    text-align: right;
    font-family: 'tahoma';
    font-size: 12px;
}

#unhidetemps {
    padding: 25px;
    /* Border for debugging, can be removed if desired */
    border: 1px solid black;
    position: fixed;
    top: 0;
    right: 0;
}

#notTemps {
    float: left;
}
